@import (reference) "../pages/_media-queries.less";
@import (reference) '../base/_mixins.less';
@import (reference) '../base/_variables.less';
// !!! Es muss beachtet werden, dass alle DIVs im screen.css auf clear: both gesetzt sind !!!!
.waiting
{
    color: #f5a434;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 60px 0 0;
    text-align: center;
    text-transform: uppercase;
    width:  100%;
}