@import "variables";
@cache-version: `( new Date() ).getTime()`;

//@font-face {
//  font-family: 'kunde-icons';
//  src:  url('@{icomoon-font-path}/kunde-icons.eot?m1stut');
//  src:  url('@{icomoon-font-path}/kunde-icons.eot?m1stut#iefix') format('embedded-opentype'),
//    url('@{icomoon-font-path}/kunde-icons.woff2?m1stut') format('woff2'),
//    url('@{icomoon-font-path}/kunde-icons.ttf?m1stut') format('truetype'),
//    url('@{icomoon-font-path}/kunde-icons.woff?m1stut') format('woff'),
//    url('@{icomoon-font-path}/kunde-icons.svg?m1stut#kunde-icons') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}



//	[class^="icon-"], [class*=" icon-"] {
//	speak: none;
//	font-style: normal;
//	font-weight: normal;
//	font-variant: normal;
//	text-transform: none;
//	line-height: 1;
//	-webkit-font-smoothing: antialiased;
//	-moz-osx-font-smoothing: grayscale;

.icon-smartphone {
	&:before {
	  content: @icon-smartphone; 
	}
  }
  .icon-time {
	&:before {
	  content: @icon-time; 
	}
  }
  .icon-tablet {
	&:before {
	  content: @icon-tablet; 
	}
  }
  .icon-location_pin {
	&:before {
	  content: @icon-location_pin; 
	}
  }
  .icon-notifications {
	&:before {
	  content: @icon-notifications; 
	}
  }
  .icon-notifications_active {
	&:before {
	  content: @icon-notifications_active; 
	}
  }
  .icon-thumb {
	&:before {
	  content: @icon-thumb; 
	}
  }
  .icon-download {
	&:before {
	  content: @icon-download; 
	}
  }
  .icon-upload {
	&:before {
	  content: @icon-upload; 
	}
  }
  .icon-filter_list {
	&:before {
	  content: @icon-filter_list; 
	}
  }
  .icon-info {
	&:before {
	  content: @icon-info; 
	}
  }
  .icon-info_outline {
	&:before {
	  content: @icon-info_outline; 
	}
  }
  .icon-pin {
	&:before {
	  content: @icon-pin; 
	}
  }
  .icon-share {
	&:before {
	  content: @icon-share; 
	}
  }
  .icon-arrow_back {
	&:before {
	  content: @icon-arrow_back; 
	}
  }
  .icon-arrow_downward {
	&:before {
	  content: @icon-arrow_downward; 
	}
  }
  .icon-arrow_forward {
	&:before {
	  content: @icon-arrow_forward; 
	}
  }
  .icon-arrow_upward {
	&:before {
	  content: @icon-arrow_upward; 
	}
  }
  .icon-fast_forward {
	&:before {
	  content: @icon-fast_forward; 
	}
  }
  .icon-fast_rewind {
	&:before {
	  content: @icon-fast_rewind; 
	}
  }
  .icon-play_arrow {
	&:before {
	  content: @icon-play_arrow; 
	}
  }
  .icon-stop {
	&:before {
	  content: @icon-stop; 
	}
  }
  .icon-add {
	&:before {
	  content: @icon-add; 
	}
  }
  .icon-remove {
	&:before {
	  content: @icon-remove; 
	}
  }
  .icon-photo_size_select_large {
	&:before {
	  content: @icon-photo_size_select_large; 
	}
  }
  .icon-chevron_left {
	&:before {
	  content: @icon-chevron_left; 
	}
  }
  .icon-chevron_right {
	&:before {
	  content: @icon-chevron_right; 
	}
  }
  .icon-close {
	&:before {
	  content: @icon-close; 
	}
  }
  .icon-chevron_up {
	&:before {
	  content: @icon-chevron_up; 
	}
  }
  .icon-chevron_down {
	&:before {
	  content: @icon-chevron_down; 
	}
  }
  .icon-refresh {
	&:before {
	  content: @icon-refresh; 
	}
  }
  .icon-attachment {
	&:before {
	  content: @icon-attachment; 
	}
  }
  .icon-phone {
	&:before {
	  content: @icon-phone; 
	}
  }
  .icon-check {
	&:before {
	  content: @icon-check; 
	}
  }
  .icon-envelope {
	&:before {
	  content: @icon-envelope; 
	}
  }
  .icon-date_invitation {
	&:before {
	  content: @icon-date_invitation; 
	}
  }
  .icon-home {
	&:before {
	  content: @icon-home; 
	}
  }
  .icon-link {
	&:before {
	  content: @icon-link; 
	}
  }
  .icon-shopping_cart {
	&:before {
	  content: @icon-shopping_cart; 
	}
  }
  .icon-print {
	&:before {
	  content: @icon-print; 
	}
  }
  .icon-envelope_outline {
	&:before {
	  content: @icon-envelope_outline; 
	}
  }
  .icon-menu {
	&:before {
	  content: @icon-menu; 
	}
  }
  .icon-more_horiz {
	&:before {
	  content: @icon-more_horiz; 
	}
  }
  .icon-more_vert {
	&:before {
	  content: @icon-more_vert; 
	}
  }
  .icon-person {
	&:before {
	  content: @icon-person; 
	}
  }
  .icon-play_circle_outline {
	&:before {
	  content: @icon-play_circle_outline; 
	}
  }
  .icon-public {
	&:before {
	  content: @icon-public; 
	}
  }
  .icon-rss_feed {
	&:before {
	  content: @icon-rss_feed; 
	}
  }
  .icon-search {
	&:before {
	  content: @icon-search; 
	}
  }
  .icon-settings {
	&:before {
	  content: @icon-settings; 
	}
  }
  .icon-twitter {
	&:before {
	  content: @icon-twitter; 
	}
  }
  .icon-skype {
	&:before {
	  content: @icon-skype; 
	}
  }
  .icon-youtube {
	&:before {
	  content: @icon-youtube; 
	}
  }
  .icon-linkedin {
	&:before {
	  content: @icon-linkedin; 
	}
  }
  .icon-facebook {
	&:before {
	  content: @icon-facebook; 
	}
  }
  .icon-xing {
	&:before {
	  content: @icon-xing; 
	}
  }
  .icon-tumblr {
	&:before {
	  content: @icon-tumblr; 
	}
  }
  .icon-google {
	&:before {
	  content: @icon-google; 
	}
  }
  .icon-file-code-o {
	&:before {
	  content: @icon-file-code-o; 
	}
  }
  .icon-file-movie-o {
	&:before {
	  content: @icon-file-movie-o; 
	}
  }
  .icon-file-video-o {
	&:before {
	  content: @icon-file-video-o; 
	}
  }
  .icon-file-audio-o {
	&:before {
	  content: @icon-file-audio-o; 
	}
  }
  .icon-file-sound-o {
	&:before {
	  content: @icon-file-sound-o; 
	}
  }
  .icon-file-archive-o {
	&:before {
	  content: @icon-file-archive-o; 
	}
  }
  .icon-file-zip-o {
	&:before {
	  content: @icon-file-zip-o; 
	}
  }
  .icon-file-image-o {
	&:before {
	  content: @icon-file-image-o; 
	}
  }
  .icon-file-photo-o {
	&:before {
	  content: @icon-file-photo-o; 
	}
  }
  .icon-file-picture-o {
	&:before {
	  content: @icon-file-picture-o; 
	}
  }
  .icon-file-powerpoint-o {
	&:before {
	  content: @icon-file-powerpoint-o; 
	}
  }
  .icon-file-excel-o {
	&:before {
	  content: @icon-file-excel-o; 
	}
  }
  .icon-file-word-o {
	&:before {
	  content: @icon-file-word-o; 
	}
  }
  .icon-file-pdf-o {
	&:before {
	  content: @icon-file-pdf-o; 
	}
  }
  .icon-file-text-o {
	&:before {
	  content: @icon-file-text-o; 
	}
  }
  .icon-file-o {
	&:before {
	  content: @icon-file-o; 
	}
  }
  .icon-file-text {
	&:before {
	  content: @icon-file-text; 
	}
  }
  .icon-file {
	&:before {
	  content: @icon-file; 
	}
  }
  .icon-instagram {
	&:before {
	  content: @icon-instagram; 
	}
  }
  .icon-snapchat {
	&:before {
	  content: @icon-snapchat; 
	}
  }
  .icon-pinterest-p {
	&:before {
	  content: @icon-pinterest-p; 
	}
  }
  