<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
	<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding ="utf-8" />
    <pages>
      <controls >
        <add  tagPrefix="CU"  namespace="Insyma.ContentUpdate" assembly="Insyma.ContentUpdate.UI.CUControls" />
      </controls>
    </pages>
	</system.web>
</configuration>

