@using System.Collections.Generic;
@using Insyma.SurveyManagement.DAL;
@using Insyma.SurveyManagement.DAL.Repositories;

@model Insyma.SurveyManagement.DAL.udsp_SURVEY_SurveyOnline_Result

@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="de"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="de"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 ie89" lang="de"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie89" lang="de"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="de">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Tropenhaus Besucher-Umfrage</title>
    <meta name="keywords" content="Tropenhaus, Tropen, Tropenrestaurant, Tropengarten," />
    <meta name="description" content="" />
    <meta name="publisher" content="" />
    <meta name="author" content="" />
    <meta name="language" content="Deutsch" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="stylesheet" href="../css/reset.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/screen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="../css/survey.css" type="text/css" media="all" />
    <link rel="shortcut icon" href="http://www.tropenhaus-wolhusen.ch/favicon.ico" />
    <link rel="stylesheet" href="../css/uniform-insyma.css" media="screen" />
    <link rel="stylesheet" href="../css/progressbar.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/modal.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/jquery-ui.css" />
    <script src="../js/jquery-latest.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap-modal.js" type="text/javascript"></script>
    <script src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../js/jquery.ui.datepicker.lang.js"></script>
    <script src="../js/cursor.js"></script>
    <script type="text/javascript" src="../js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="../js/noty/layouts/topCenter.js"></script>
    <script type="text/javascript" src="../js/noty/themes/default.js"></script>

    <!--[if lt IE 9]>
         <script src="../js/css3-mediaqueries.js" type="text/javascript"></script>
        <![endif]-->
    <script type="text/javascript">
        var serviceURL = "../SurveyProxy.ashx";
        var SurveyOnlineId = @Model.Id;
        var LanguageId = @ViewBag.languageId;
    </script>

    <script src="../js/survey.js" type="text/javascript"></script>
    <script src="../js/project_scripts.js" type="text/javascript"></script>
    <!--<![endif]-->
</head>
<body>
    <form>
        <div id="header">
            <h3 class="logo"><a title="">
                <img src="http://tropenhaus-wolhusen.ch/img/layout/logo_tropenhaus.png" alt="" /></a></h3>

            <div class="wkButton backToStart" id="btn_GoToStart">
                <input class="active" value="Umfrage neu beginnen" type="button" />
            </div>
            <div id="progressBarPlaceholder">
                <div id="progressBarContainer">
                    <div id="progressBarContent">
                        <div id="label_bar">
                            <label>Fortschritt</label>
                        </div>
                        <div class="progress progress-striped active" id="bar_questions">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="47">
                            </div>
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="progressBarPlaceholderScroll">
        </div>
        <div id="insymaWrap" class="styleThese" style="background-image: url(http://www.tropenhaus-wolhusen.ch/headerbilder/Tropenhaus_Pflanzen0x0.jpg);">

            @{
                List<udsp_SURVEY_StructureOnline_Result> structures = SurveyOnlineRepository.GetStructureOnlineBySurveyOnline(@Model.Id, (int)ViewBag.languageId);
                //loop though all pages
                structures.ForEach(structure => Html.RenderPartial(structure.TemplatePath, structure));
            }

        </div>
        <div id="footer"></div>
    </form>

    <div id="notificationDialog" class="modal fade" role="dialog" style="display: none">
        <div class="modal-content" novalidate>
            <h2 class="modal-header">Fragen nicht vollst&auml;ndig beantwortet</h2>
            <hr style="width: 280px; float: left; color: #EEE;" />
            <div class="modal-body">
                <div>
                    Bitte beantworten Sie alle Fragen bevor Sie weiter fahren. Folgende Frage ist aktuell zu beantworten:
                </div>
                <ul>
                </ul>
            </div>
            <div class="modal-footer">
                <input type="button" class="cu-ButtonHeightWidth active close" data-dismiss="modal" value="Schliessen" />
            </div>
        </div>
    </div>
</body>
</html>

