@model Insyma.SurveyManagement.DAL.udsp_SURVEY_QuestionOnline_Result

<div class="questioncon" id="foodDetails2" style="display: block" questionid="@Model.OriginalQuestionId" data-questionid="@Model.Id">
    <div style="display: block;" class="question" questiontype="4">
        <span>@Model.QuestionName</span>
    </div>
    <div style="display: block;" class="answer table_big">
        <p class="describe describe_last">@Model.Comment</p>
        <div class="table_big">
            <div class="header_table">
                <ul class="tablerow">
                    <li class="header_table_empty">&nbsp;</li>
                    <li class="tablecell">sehr gut</li>
                    <li class="tablecell">gut</li>
                    <li class="tablecell">gen&uuml;gend</li>
                    <li class="tablecell">schlecht</li>
                </ul>
            </div>
            <div class="sub_question" data-questionid="71">
                <h6>Weinkarte</h6>

                <div class="sub_table">
                    <ul class="tablerow table_item" data-questionid="72">
                        <li class="tablecell category">Vielfalt</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t21" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t21" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t21" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t21" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="tablerow table_item" data-questionid="73">
                        <li class="tablecell category">Qualit&auml;t</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t22" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t22" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t22" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t22" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="tablerow table_item" data-questionid="74">
                        <li class="tablecell category">Pr&auml;sentation</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t23" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t23" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t23" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t23" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>
