@model Insyma.SurveyManagement.DAL.udsp_SURVEY_QuestionOnline_Result

<div class="questioncon" id="foodDetails1" style="display: block" questionid="@Model.OriginalQuestionId" data-questionid="@Model.Id">
    <div style="display: block;" class="question" questiontype="4">
        <span>@Model.QuestionName</span>
    </div>
    <div style="display: block;" class="answer table_big">
        <p class="describe describe_last">@Model.Comment</p>

        <div class="table_big">
            <div class="header_table">
                <ul class="tablerow">
                    <li class="header_table_empty">&nbsp;</li>
                    <li class="tablecell">sehr gut</li>
                    <li class="tablecell">gut</li>
                    <li class="tablecell">gen&uuml;gend</li>
                    <li class="tablecell">schlecht</li>
                </ul>
            </div>
            <div class="sub_question foodDetail1" questionid="58">
                <h6>Mittagskarte</h6>

                <div class="sub_table">
                    <ul class="tablerow table_item" data-questionid="59">
                        <li class="tablecell category">Vielfalt</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t11" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t11" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t11" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t11" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="tablerow table_item" data-questionid="60">
                        <li class="tablecell category">Qualit&auml;t</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t12" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t12" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t12" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t12" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="tablerow table_item" data-questionid="61">
                        <li class="tablecell category">Pr&auml;sentation</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t13" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t13" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t13" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t13" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="sub_question foodDetail2" questionid="62">
                <h6>Zwischendurchkarte</h6>

                <div class="sub_table ">
                    <ul class="tablerow table_item" data-questionid="63">
                        <li class="tablecell category">Vielfalt</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t14" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t14" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t14" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t14" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="tablerow table_item" data-questionid="64">
                        <li class="tablecell category">Qualit&auml;t</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t15" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t15" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t15" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t15" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="tablerow table_item" data-questionid="65">
                        <li class="tablecell category">Pr&auml;sentation</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t16" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t16" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t16" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t16" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sub_question foodDetail3" questionid="66">
                <h6>Abendkarte</h6>

                <div class="sub_table">
                    <ul class="tablerow table_item " data-questionid="67">
                        <li class="tablecell category">Vielfalt</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t17" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t17" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t17" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t17" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="tablerow table_item" data-questionid="68">
                        <li class="tablecell category">Qualit&auml;t</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t18" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t18" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t18" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t18" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                    <ul class="tablerow table_item" data-questionid="69">
                        <li class="tablecell category">Pr&auml;sentation</li>
                        <li class="tablecell" answerid="9">
                            <div class="radio">
                                <span>
                                    <input name="t19" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="10">
                            <div class="radio">
                                <span>
                                    <input name="t19" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="11">
                            <div class="radio">
                                <span>
                                    <input name="t19" type="radio" /></span>
                            </div>
                        </li>
                        <li class="tablecell" answerid="12">
                            <div class="radio">
                                <span>
                                    <input name="t19" type="radio" /></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
