@model Insyma.SurveyManagement.DAL.udsp_SURVEY_QuestionOnline_Result
@*Copy from Question145Template.cshtml*@
<div class="questioncon" questionid="@Model.OriginalQuestionId" data-questionid="@Model.Id">
    <div style="display: block;" class="question" questiontype="23"><span>@Model.QuestionName</span> </div>

    <div class="answer formcon form">
        <p class="describe">
            @Model.Comment
        </p>

        <ul>
            <li fieldname="Enterprises" ismandatory="1" answerid="188">
                <label for="cu34869">Unternehmen ca.<em>*</em></label>
                <input type="text" id="cu34869" name="Enterprises">
                <div style="display: none" id="vldEmptyEnterprises">
                    <span class="InLineValidateCaption"
                          id="vldSpanEmptyEnterprises">Bitte f&uuml;llen Sie dieses Feld aus.</span>
                </div>
            </li>

            
        </ul>
    </div>
</div>
