<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  internalLogFile="nlog.ERRORS.txt" internalLogLevel="Error" >

  <!-- 
See http://nlog-project.org/wiki/Configuration_file 

https://github.com/nlog/NLog/wiki/Configuration-file   (updated new links)
for information on customizing logging rules and outputs.
-->
  <targets>
    <!-- add your targets here -->
    <target xsi:type="File" name="info" keepFileOpen="true"
            fileName="${basedir}/logfiles/info_${date:format=yyyyMMdd}.txt"
            layout="${longdate} ${level:uppercase=true:padding=5} - ${logger:shortName=true} - ${message}" />

    <target xsi:type="File" name="debug" keepFileOpen="false"
            fileName="${basedir}/logfiles/debug_${date:format=yyyyMMdd}.txt"
            layout="${longdate} ${level:uppercase=true:padding=5} - ${logger:shortName=true} - ${message}" />

    <target xsi:type="File" name="error" keepFileOpen="false"
            fileName="${basedir}/logfiles/error_${date:format=yyyyMMdd}.txt"
            layout="${longdate} ${level:uppercase=true:padding=5} - ${logger:shortName=true} - ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" level="info" writeTo="info" />
    <logger name="*" level="debug" writeTo="debug" />
    <logger name="*" level="error" writeTo="error" />
    <logger name="*" levels="info,debug" writeTo="debug" enabled="false" />
  </rules>
</nlog>