@model Insyma.ContentProperty.Web.Models.ViewConfirmContactModel

@{
    var partClassId = string.Format("{0}{1}", "part-obj-role-contact", (Model != null ? string.Format("-{0}", Model.ObjId.ToString()) : ""));
}

<div class="part column @partClassId">
    <div class="part-action" style="display: none">
        <span class="icon-refresh"></span>
    </div>
    <div class="part-header">
        <a class="icon page-icon action-open">View/Confirm Contacts</a>
    </div>

    <div class="part-content" style="display: none;">
        <div class="table" id="ul-view-confirm-contact">
            <ul class="table-header">
                <li>Contact</li>
                <li>View</li>
                <li>Date View</li>
                <li>Confirm</li>
                <li>Date Confirm</li>
            </ul>
        </div>

        <input type="button" id="btnShowMoreVCContact" class="show-more-btn" value="Show more" style="display: none;"/>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        if (typeof viewConfirmContact !== 'undefined') {
            var inputConfig = {
                partClass : '.' + '@partClassId',
                rootUrl: '@Url.Content("~")',
                pageIndex: 0,
                pageSize: 10,
                objId: @Model.ObjId,
                urlPath: '@Model.UrlPath',
                clientId: $('#hidClientId_ContentProp').val(),
                languageId: $('#hidLanguageId_ContentProp').val()
            };
            viewConfirmContact.init(inputConfig);
        }
    });
</script>