<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

	<system.web>
		<httpRuntime maxRequestLength="20480" executionTimeout="6" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<customErrors mode="Off" />
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<membership defaultProvider="ContentUpdateMembershipProvider">
			<providers>
				<add name="ContentUpdateMembershipProvider" type="Insyma.ContentUpdate.UI.ContentUpdateMembershipProvider" />
			</providers>
		</membership>
	</system.web>

    <appSettings>
		<add key="DSN" value="Data Source=10.55.31.20;Failover Partner=10.55.31.21;Password=Grenzgaengerauskunft$2015-10-09_02:39.;Persist Security Info=True;User ID=Grenzgaengerauskunft_CU_Benutzer;Initial Catalog=Grenzgaengerauskunft;packet size=4096 ; min pool size=1;max pool size=100;MultipleActiveResultSets=True" />
		<add key="LabellingDSN" value="Data Source=10.55.31.20;Failover Partner=10.55.31.21;Password=93ariba$842;Persist Security Info=True;User ID=CUStat_labeling;Initial Catalog=CuStats;packet size=4096 ; min pool size=1;max pool size=100;MultipleActiveResultSets=True" />
		<add key="WebServiceDocumentManagerRoot" value="http://www.contentupdate.net/Grenzgaengerauskunft/WSDocumentManager/api/" />	
		<add key="FileDownloadHandler" value="http://www.contentupdate.net/Grenzgaengerauskunft/WSDocumentManager/GetFile.ashx" />
		<!--<add key="PublishedFileDownloadHandler" value="http://www.contentupdate.net/Grenzgaengerauskunft/web/Grenzgaengerauskunft/PublicGetFile.ashx"/>-->
	<add key="PublishedFileDownloadHandler" value="http://extranet.contentupdate.net/Grenzgaengerauskunft/PublicGetFile.ashx"/>
		<!--Both of those PathForCUBin paths work-->
		<!--<add key="PathForCUBin" value="..\..\..\..\bin\"/>-->
		<add key="PathForCUBin" value="H:\Internet\curoot\Mandanten-insyma\Grenzgaengerauskunft\bin\"/>
	</appSettings>
	
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>

	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="1" />
		</connectionManagement>
	</system.net>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="UrlRoutingModule"/>
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</modules>
	</system.webServer>

</configuration>